<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tea.mapper.CommunityMapper">

    <!-- 新增帖子 -->
    <insert id="insert" parameterType="com.example.tea.entity.pojo.Community.Post"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_post (user_id, title, content, like_count, comment_count, collect_count, status,update_time,create_time)
        VALUES (#{userId}, #{title}, #{content}, 0, 0, 0, 1,now(),now())
    </insert>
    <insert id="comment">
        insert into t_comment(post_id, user_id, content, parent_id, to_user_id, like_count, status, create_time, update_time)
            values (#{dto.postId},#{userId},#{dto.content},#{dto.parentId},#{dto.toUserId},0,1,now(),now())
    </insert>
    <insert id="addLike">
        insert into like_record(user_id, target_id, target_type, create_time, is_cancel)
        values (#{userId},#{targetId},#{targetType},#{createTime},#{isCancel})
    </insert>
    <update id="updateMyPost">
            UPDATE t_post
            <set>
                <if test="title != null and title != ''">
                    title = #{title},
                </if>
                <if test="content != null and content != ''">
                    content = #{content},
                </if>
                update_time = NOW()
            </set>
            WHERE id = #{postId} and user_id= #{userId}
    </update>
    <update id="updateLike">
        update like_record set is_cancel =#{cancel}
        where target_id=#{id} and user_id=#{userId} and target_type=#{type}
    </update>
    <delete id="deleteComment">
        delete from t_comment where id in
        <foreach collection="list" separator="," open="(" close=")" item="id">
            #{id}
        </foreach>
    </delete>


    <!-- 查询帖子总数 -->
    <select id="selectPostTotal" resultType="java.lang.Long">
        SELECT COUNT(*) FROM t_post WHERE status = 1
    </select>



    <select id="getPostList" resultType="com.example.tea.entity.vo.Community.PostListPageVO">
        select
        t.title,
        t.content,
        t.like_count,
        t.collect_count,
        t.comment_count,
        t.id as postId,
        u.id as userId,
        u.username,
        t.image,
        u.avatar as userImage,
        IFNULL(l.is_cancel, -1) as likeCancel,
        IFNULL(c.is_cancel, -1) as collectCancel
        from t_post t
        left join sys_user u on u.id = t.user_id
        left join like_record l on t.id = l.target_id and l.target_type = 1 and l.user_id = #{userId}
        left join collect_record c on c.post_id = t.id and c.user_id = #{userId}
        <where>
            <if test="name!=null and name!=''">
                and t.title like concat('%',#{name},'%')
            </if>
        </where>
        order by t.create_time desc
    </select>
    <select id="getMyPost" resultType="com.example.tea.entity.vo.Community.MyPostVO">
        select title,content,like_count,comment_count,collect_count,id,image from t_post
        where user_id = #{userId}
    </select>
    <select id="getAssociationComment" resultType="java.lang.Long">
        select id from t_comment where to_user_id = #{id} OR parent_id = #{id}
    </select>
    <select id="selectById" resultType="com.example.tea.entity.dto.Community.PostWithUsernameDTO">
        SELECT
            t.id,
            t.user_id,
            t.title,
            t.content,
            t.like_count,
            t.comment_count,
            t.collect_count,
            t.create_time,
            t.update_time,
            u.username,
            t.image,
            u.status,
            u.avatar as userImage
        FROM t_post t
                 LEFT JOIN sys_user u ON t.user_id = u.id
        WHERE t.id = #{postId}
    </select>
    <select id="getPostListByPostId" resultType="com.example.tea.entity.vo.Community.MyCollectVO">
        select t.id,u.username as writerName,t.title,t.content,t.like_count,t.comment_count,t.collect_count,t.image
        from t_post t left join sys_user u on t.user_id = u.id
        where t.id in
            <foreach collection="list" item="num" open="(" close=")" separator=",">
                #{num}
            </foreach>
    </select>
    <select id="getCancel" resultType="com.example.tea.entity.dto.Community.isCancelDTO">
        select l.is_cancel as likeCancel,c.is_cancel as collectCancel
        from like_record l left join collect_record c
            on l.user_id = c.user_id and l.target_id = c.post_id
        where l.user_id = #{currentId}
        and l.target_id = #{postId}
        and l.target_type = 1
    </select>
    <select id="getCommentByPostId" resultType="com.example.tea.entity.dto.Community.CommentDTO">
        select t.id,u.username,t.user_id, t.content, t.parent_id, t.to_user_id, t.like_count,t.post_id,u.avatar as userImage,IFNULL(l.is_cancel, -1)
        from t_comment t
            left join sys_user u on t.user_id = u.id
            left join like_record l on t.id = l.target_id and l.target_type = 2 and l.user_id=#{userId}
        where post_id = #{postId}
    </select>


</mapper>
