<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.tea.mapper.CouponMapper">
    <insert id="insertQuestionCoupon">
        INSERT INTO coupon (
            user_id,
            intro,
            reduce_amount,
            min_amount,
            start_time,
            end_time,
            status,
            create_time,
            update_time
        )
        VALUES (
                   #{userId},
                   #{intro},
                   #{reduceAmount},
                   #{minAmount},
                   #{startTime},
                   #{endTime},
                   #{status},
                   #{createTime},
                   #{updateTime}
               )
    </insert>


    <update id="useCoupon">
        update coupon set status=#{status},use_time=#{useTime}
                        ,update_time=#{updateTime},order_id=#{orderId}
        where id =#{id}

    </update>


</mapper>
