<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.tea.mapper.OrderMapper">
    <insert id="pay">
        insert into `order`(user_id, goods_id, order_id, quantity, create_time, update_time)
        values
        <foreach collection="list" item="order" separator=",">
            (
            #{order.userId},
            #{order.goodsId},
            #{order.orderId},
            #{order.quantity},
            #{order.createTime},
            #{order.updateTime}
            )
        </foreach>
    </insert>
</mapper>
